# BEGIN REQUIRED FOR WEBFONTS
AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff
<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>
# END REQUIRED FOR WEBFONTS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^urbangirl-actualites\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/actualites/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-gastronomie\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/gastronomie/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-couple\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/couple/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-maman\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/maman/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-decoration\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/deco/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-mariage\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/mariage/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-sorties\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/bonnes-adresses/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-mode\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/mode/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-beaute\.fr$ [NC]
RewriteRule ^(.*)$ http://urbangirl.fr/categorie/beaute/$1 [P]
</IfModule>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress