# BEGIN REQUIRED FOR WEBFONTS
AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff
<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>
# END REQUIRED FOR WEBFONTS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} /gastronomie/ [NC]
RewriteRule ^(.*)gastronomie/(.*)$ http://urbangirl-gastronomie.fr/$2 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-actualites\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/actualites/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-gastronomie\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/gastronomie/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-couple\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/couple/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-maman\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/maman/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-decoration\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/deco/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-mariage\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/mariage/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-sorties\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/bonnes-adresses/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-mode\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/mode/$1 [P]
RewriteCond %{HTTP_HOST} ^urbangirl-beaute\.fr$ [NC]
RewriteRule ^(.*)$ http://96.30.54.222/~urbangi/beaute/$1 [P]
</IfModule>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~urbangi/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~urbangi/index.php [L]
</IfModule>
# END WordPress
